@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>There is often more than one solution to <a href="https://www.stclaircollege.ca/">every challenge</a>.</p>
<img src="gradpicanima.gif" alt="gradpic" width="2500px" height="200px" />
</div>
